<!DOCTYPE html>
<html>
  <head>
    <title>Frontend Demo</title>
    <style>
      a {
        margin-left: 15px;
      }
      #scoreboard th {
        width: 25%;
        text-align: left;
      }

      #scoreboard td {
        text-align: left;
      }
      #scoreboard th:nth-child(2),
      #scoreboard td:nth-child(2) {
        width: 60%;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/icon.png" />
    <script src="/htmx.js" defer></script>
    <script
      src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header id="main-header">
      <img src="/htmx-logo.jpg" alt="HTMX Logo" />
      <h1>Frontend Demo</h1>
    </header>
    <main>
      <div style="margin-top: -20px">
        <p>
          Test frontend to use the backend running at
          <strong>rust-sqlx.onrender.com</strong>
          <a href="https://github.com/ajerni/rust-sqlx"
            >see Github repo for Backend</a
          >
        </p>
        <button
          hx-get="https://rust-sqlx.onrender.com/htmxtest"
          hx-swap="outerHTML"
        >
          More info
        </button>
      </div>
      <div style="justify-content: center; align-items: center">
        <h3
          style="
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
          "
        >
          Live Change Demo
        </h3>
        <div id="updaterdiv" style="display: inline-flex; margin-top: -30px">
          <h4 style="color: chartreuse; margin-right: 120px; font-size: 20px">
            <div
              hx-trigger="load"
              hx-get="/getlivetext"
              hx-target="#mylivetexttarget"
            ></div>
            <div
              hx-trigger="new-text-entered-event from:body"
              hx-get="/getlivetext"
              hx-target="#mylivetexttarget"
            ></div>
            <div id="mylivetexttarget">Livetext here</div>
            <div id="dummytostay"></div>
          </h4>
          <div
            style="
              display: inline-flex;
              justify-content: center;
              align-items: center;
            "
          >
            <form
              hx-post="/livetextchange"
              hx-on::after-request="this.reset()"
              hx-target="#dummytostay"
            >
              <p style="margin-right: 0px">
                <input
                  style="width: 320px"
                  type="text"
                  placeholder="Change text from somewhere else..."
                  id="livetext"
                  name="livetext"
                />
              </p>
              <p>
                <button style="width: 150px; margin-left: 0px">
                  Change text
                </button>
              </p>
            </form>
          </div>
        </div>
      </div>

      <h3 style="margin-top: 30px; margin-bottom: -13px">
        Accessing the database
      </h3>
      <div style="display: inline-flex">
        <form
          hx-post="https://rust-sqlx.onrender.com/form-handler"
          hx-target="#mytargetdiv"
          hx-on::after-request="this.reset()"
        >
          <p style="margin-right: 0px">
            <label for="isbn">Get book (ISBN):</label>
            <input
              style="width: 120px"
              type="text"
              placeholder="9901"
              id="isbn"
              name="isbn"
            />
          </p>
          <p>
            <button style="width: 150px; margin-left: 0px">Search book</button>
          </p>
        </form>
        <div style="margin-left: 30px" id="mytargetdiv"></div>
      </div>

      <div
        style="
          display: inline-flex;
          justify-content: center;
          align-items: center;
        "
      >
        <h3>Updating the Highscore for Bevy Game (ECS)</h3>
        <a class="blue" href="https://bevy.andierni.ch">Bevy Game </a>
        <a href="https://github.com/ajerni/rust-bevy">
          see Github repo for Bevy Game</a
        >
      </div>

      <!-- the form automaticaally binds hx-vals='{"json":"format"}' / hx-vals could be used everywhere to add payload to requests -->
      <div style="margin-top: -30px">
        <form
          hx-patch="https://rust-sqlx.onrender.com/updatehighscore"
          hx-target="#myupdateresult"
          hx-on::after-request="this.reset()"
        >
          <p>
            <label for="name">Name:</label>
            <input style="width: 120px" type="text" id="name" name="name" />
          </p>
          <p>
            <label for="highscore">Highscore:</label>
            <input
              style="width: 120px"
              type="text"
              id="highscore"
              name="highscore"
            />
          </p>
          <p>
            <button style="width: 150px">Update Highscore</button>
          </p>
        </form>

        <div id="myupdateresult"></div>
      </div>

      <h3>
        ChatGPT AI Joke Generator (Ultra-Flach-Witz-Generator als
        llm-chain-Demo)
      </h3>
      <div style="margin-top: -30px">
        <form
          hx-post="https://rust-sqlx.onrender.com/ai"
          hx-target="#myjokeresult"
          hx-on::after-request="this.reset()"
        >
          <p>
            <label for="city">Word 1:</label>
            <input style="width: 120px" type="text" id="city" name="city" />
          </p>
          <p>
            <label for="country">Word 2:</label>
            <input
              style="width: 120px"
              type="text"
              id="country"
              name="country"
            />
          </p>
          <p>
            <button style="width: 150px">Generiere Witz!</button>
          </p>
        </form>
        <div id="myjokeresult"></div>
      </div>

      <h3>
        Top 10 PostgreSQL Kings (Demo of SQL views and plpgsql triggers and
        functions)
      </h3>
      <table id="scoreboard" style="margin-top: -10px">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody
          x-data="{ scores: [], fetchScoreboard: async function() {
            const response = await fetch('https://rust-sqlx.onrender.com/scoreboard');
            const data = await response.json();
            this.scores = data;
          } }"
          @new-score-saved.window="scores = fetchScoreboard()"
          x-init="fetchScoreboard();"
        >
          <template x-for="score in scores">
            <tr>
              <td x-text="score.rank"></td>
              <td x-text="score.name"></td>
              <td x-text="score.score"></td>
            </tr>
          </template>
        </tbody>
      </table>

      <div style="margin-top: -10px">
        <form
          hx-post="https://rust-sqlx.onrender.com/scoreboardform"
          hx-target="#scoreboardsetresult"
          hx-on::after-request="this.reset()"
        >
          <p>
            <label for="playername">Player Name:</label>
            <input
              type="text"
              id="playername"
              name="playername"
              style="width: 120px"
            />
          </p>
          <p>
            <label for="score">Score:</label>
            <input type="text" id="score" name="score" style="width: 120px" />
          </p>
          <p>
            <button style="width: 150px">Enter new score</button>
          </p>
        </form>
        <div id="scoreboardsetresult"></div>
      </div>
    </main>
    <script>
      document.addEventListener("new-score-saved", function (evt) {
        console.log(
          "...got the new-score-saved event from the header HX-Trigger..."
        );
        // can do anything JS here
      });
    </script>
  </body>
</html>
