<!DOCTYPE html>
<html>
  <head>
    <title>HTMX Essentials</title>
    <style>
      a {
        margin-left: 15px;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/icon.png" />
    <script src="/htmx.js" defer></script>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header id="main-header">
      <img src="/htmx-logo.jpg" alt="HTMX Logo" />
      <h1>Frontend Demo</h1>
    </header>
    <main>
      <p>
        HTMX test with backend running at
        <strong>rust-sqlx.onrender.com</strong>
        <a href="https://github.com/ajerni/rust-sqlx"
          >see Github repo for Backend</a
        >
      </p>
      <button
        hx-get="https://rust-sqlx.onrender.com/htmxtest"
        hx-swap="outerHTML"
      >
        Get something
      </button>
      <form
        hx-post="https://rust-sqlx.onrender.com/form-handler"
        hx-target="#mytargetdiv"
      >
        <p>
          <label for="isbn">Get book:</label>
          <input type="text" placeholder="9901" id="isbn" name="isbn" />
        </p>
        <p>
          <button>Search book</button>
        </p>
      </form>
      <div id="mytargetdiv"></div>
      <div
        style="
          display: inline-flex;
          justify-content: center;
          align-items: center;
        "
      >
        <h3>Updating the Highscore for Bevy Game</h3>
        <a href="https://bevy.andierni.ch">Bevy Game </a>
        <a href="https://github.com/ajerni/rust-bevy">
          see Github repo for Bevy Game</a
        >
      </div>

      <!-- the form automaticaally binds hx-vals='{"json":"format"}' / hx-vals could be used everywhere to add payload to requests -->
      <form
        hx-patch="https://rust-sqlx.onrender.com/updatehighscore"
        hx-target="#myupdateresult"
      >
        <p>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />
        </p>
        <p>
          <label for="highscore">Highscore:</label>
          <input type="text" id="highscore" name="highscore" />
        </p>
        <p>
          <button>Update Highscore</button>
        </p>
      </form>

      <div id="myupdateresult"></div>
      <h3>AI Joke Generator (Ultra-Flach-Witz-Generator zu Demo-Zwecken 😁)</h3>
      <form
        hx-post="https://rust-sqlx.onrender.com/ai"
        hx-target="#myjokeresult"
      >
        <p>
          <label for="city">Word 1:</label>
          <input type="text" id="city" name="city" />
        </p>
        <p>
          <label for="country">Word 2:</label>
          <input type="text" id="country" name="country" />
        </p>
        <p>
          <button>Generiere Witz!</button>
        </p>
      </form>
      <div id="myjokeresult"></div>
    </main>
  </body>
</html>
