<!DOCTYPE html>
<html>
  <head>
    <title>HTMX Essentials</title>
    <style>
      a {
        margin-left: 15px;
      }
      #scoreboard th {
        width: 25%;
        text-align: left;
      }

      #scoreboard td {
        text-align: left;
      }
      #scoreboard th:nth-child(2),
      #scoreboard td:nth-child(2) {
        width: 60%;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/icon.png" />
    <script src="/htmx.js" defer></script>
    <script
      src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header id="main-header">
      <img src="/htmx-logo.jpg" alt="HTMX Logo" />
      <h1>Frontend Demo</h1>
    </header>
    <main>
      <p>
        HTMX test with backend running at
        <strong>rust-sqlx.onrender.com</strong>
        <a href="https://github.com/ajerni/rust-sqlx"
          >see Github repo for Backend</a
        >
      </p>
      <button
        hx-get="https://rust-sqlx.onrender.com/htmxtest"
        hx-swap="outerHTML"
      >
        Get something
      </button>
      <form
        hx-post="https://rust-sqlx.onrender.com/form-handler"
        hx-target="#mytargetdiv"
      >
        <p>
          <label for="isbn">Get book:</label>
          <input type="text" placeholder="9901" id="isbn" name="isbn" />
        </p>
        <p>
          <button>Search book</button>
        </p>
      </form>
      <div id="mytargetdiv"></div>
      <div
        style="
          display: inline-flex;
          justify-content: center;
          align-items: center;
        "
      >
        <h3>Updating the Highscore for Bevy Game</h3>
        <a href="https://bevy.andierni.ch">Bevy Game </a>
        <a href="https://github.com/ajerni/rust-bevy">
          see Github repo for Bevy Game</a
        >
      </div>

      <!-- the form automaticaally binds hx-vals='{"json":"format"}' / hx-vals could be used everywhere to add payload to requests -->
      <form
        hx-patch="https://rust-sqlx.onrender.com/updatehighscore"
        hx-target="#myupdateresult"
      >
        <p>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />
        </p>
        <p>
          <label for="highscore">Highscore:</label>
          <input type="text" id="highscore" name="highscore" />
        </p>
        <p>
          <button>Update Highscore</button>
        </p>
      </form>

      <div id="myupdateresult"></div>
      <h3>
        ChatGPT AI Joke Generator (Ultra-Flach-Witz-Generator als llm-chain-Demo
        😁)
      </h3>
      <form
        hx-post="https://rust-sqlx.onrender.com/ai"
        hx-target="#myjokeresult"
      >
        <p>
          <label for="city">Word 1:</label>
          <input type="text" id="city" name="city" />
        </p>
        <p>
          <label for="country">Word 2:</label>
          <input type="text" id="country" name="country" />
        </p>
        <p>
          <button>Generiere Witz!</button>
        </p>
      </form>
      <div id="myjokeresult"></div>

      <h2>Top 10 PostgreSQL Kings</h2>
      <table id="scoreboard">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody
          x-data="{ scores: [], fetchScoreboard: async function() {
          const response = await fetch('/scoreboard');
          const data = await response.json();
          this.scores = data;
        } }"
          @new-score-saved.window="scores = fetchScoreboard: async function() {
          const response = await fetch('/scoreboard');
          const data = await response.json();
          this.scores = data;
        "
          x-init="fetchScoreboard();"
        >
          <template x-for="score in scores">
            <tr>
              <td x-text="score.rank"></td>
              <td x-text="score.name"></td>
              <td x-text="score.score"></td>
            </tr>
          </template>
        </tbody>
      </table>

      <form
        hx-post="https://rust-sqlx.onrender.com/scoreboardform"
        hx-target="#scoreboardsetresult"
      >
        <p>
          <label for="playername">Player Name:</label>
          <input
            type="text"
            id="playername"
            name="playername"
            style="width: 120px"
          />
        </p>
        <p>
          <label for="score">Score:</label>
          <input type="text" id="score" name="score" style="width: 80px" />
        </p>
        <p>
          <button style="width: 150px">Enter new score</button>
        </p>
      </form>
      <div id="scoreboardsetresult"></div>
    </main>
    <script>
      document.addEventListener("new-score-saved", function (evt) {
        console.log("at least got to here...");
        //TODO: update x-data="{ scores: [], fetchScoreboard: fetchScoreboard }" to trigger update of DOM after hx-post has commpleted
        //How to access x-data's scores here???
        //Maybe Access x-data's scores by using Alpine.js's $refs
      });
    </script>
  </body>
</html>
